<header>
  <nav
    class="navbar navbar-expand-md navbar-dark mb-3"
    style="background: linear-gradient(172deg, rgba(240, 222, 222, 0.94), rgba(112, 123, 145, 1));; font-size: medium; padding: 0search; "
  >
    <a class="navbar-brand pl-5 ml-4" href="/"
      ><img
        src="photo/logostgebru.png"
        class="rounded float-left w-75"
        alt="ebrulogo"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link  " style="  color: #231F20;" href="#"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link " style=" color: #231F20;" href="#">Nieuws </a>
        </li>

        <li class="nav-item">
          <div class="dropdown">
            <a
              class="nav-link "
              style=" color: #231F20;"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Over Ons
            </a>
          </div>
        </li>

        <li class="nav-item">
          <div class="dropdown">
            <a
              class="nav-link "
              style=" color: #231F20;"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Projecten
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link " style=" color: #231F20;" href="#">Doe Mee</a>
        </li>
        
      </ul>

      <form class="form-inline ml-auto">
        <div class="md-form my-0">
          <input
            class="form-control mr-sm-2"
            type="text"
            placeholder="Search"
            aria-label="Search"
            style="border-radius: 15px;"
            
          />
        </div>
      </form>
    </div>
  </nav>
</header>
