<%- include('partials/header') %>

    <!-- Marketing messaging and featurettes
      ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="pl-5 pr-5 mr-5 ml-5 mt-5">

        <!-- Three columns of text below the carousel -->
        <div class="row mx-md-n2">
            <div class="col px-md-5">
                <div class="p-5 border bg-light bgimage"  >
                    <img src="/photo/ebru.img.jpg">
                    <div class="p-5 border bg-light box-content " style="  opacity: 0.6; border-radius: 37px; ">
                
                <h2 class="font-weight-bolder baslik">Heading</h2>
                
                <p class="font-weight-bold description">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>

                <p><a class="btn btn-secondary"  role="button">View details &raquo;</a></p>

            </div>
            </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col px-md-5">
                <div class="p-5 border bg-light bgimage"  >
                    <img src="/photo/ebru.img.jpg">
                    <div class="p-5 border bg-light box-content " style="  opacity: 0.6; border-radius: 37px; ">
                        
                
                <h2 class="font-weight-bolder baslik">Heading</h2>
                <p class="font-weight-bold description">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                <p><a class="btn btn-secondary"  role="button">View details &raquo;</a></p>
            </div>
            </div>
            </div>
            <!-- /.col-lg-4 -->
            
          
        </div>
        <!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        
        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div>
    <!-- /.container -->




    <%- include('partials/footer') %>