.bgimage {
 text-align: center;
 position: relative;
 overflow: hidden;
 box-shadow: 0 0 5px #a3a3a3;
}
.box-content{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0em;
    left: 0;
    background: 0 0;
    color: #fff;
    transform: scale(0);
    transition: all 0.3s linear 0s;
    z-index: 1;

}
.bgimage:hover .box-content{

    transform: scale(1);
    transition-delay: 0.4s;
}

.bgimage img{
    width: 100%;
    height: auto;
}

.baslik{

    border-bottom: 1px solid #fff;
    padding-bottom: 20px ;
    margin-top: 20px;


}
.description{
    font-size: 14px;
    font-style: italic;
    padding: 0 10px;
    margin: 15px 0;
    
}